:root{
	--color-aqua:#6A55FF;
	--color-aqua-light:#27D4ED;
	--color-blue:#008FFF;
	--color-blue-dark:#279DFF;
	--color-gray:#cccccc;
	--color-green:#19a7ca77;
	--color-white:white;
	--color-black:rgba(0, 0, 0, .9);
	--color-red:#ff1100b6;
	
}
.app-div-1{height:10rem;}
/* Texto */
.text-blanco{color:var(--color-white);}
.text-black{color:var(--color-black)}
.text-white{color:var(--color-white);font-family: Arial, Helvetica, sans-serif}
.center{text-align:center}
/* /Tesxto */
/* Colores */
.bg-aqua{background:var(--color-aqua);}
.bg-blue{background:var(--color-blue);}
.bg-aqua-light{background:var(--color-aqua-light);}
.bg-blue-dark{background:var(--color-blue-dark);}
/* /Colores */


.btn{position:relative;overflow:hidden;}

.btn:focus:not(:active)::after{-webkit-animation:ripple 2s ease-in-out;-o-animation:ripple 2s ease-in-out;animation:ripple 2s ease-in-out;}
.list-group:hover .badge{display:block;-webkit-animation:vuelta 1s ease-in-out ;-o-animation:vuelta 1s ease-in-out ;animation:vuelta 1s ease-in-out ;}
.btn:after{content:'';position:absolute;top:50%;left:50%;width:5px;height:5px;background:var(--color-gray);opacity:0;border-radius:100%;transform:scale(1,1) translate(-50%);transform-origin:50% 50%;}

input[type=number]{moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;-moz-webkit-appearance:none;-ms-webkit-appearance:none;-o-webkit-appearance:none;webkit-appearance:none;margin:0;} 

@keyframes ripple{0%{transform:scale(0,0);opacity:1;}20%{transform:scale(25,25);opacity:1;}100%{opacity:0;transform:scale(40,40);}}
@media (min-width:768px) {.text-md-left {text-align:left !important;} .text-md-right {text-align:right !important;} .text-md-center {text-align:center !important;}}
@keyframes girar{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
@keyframes vuelta{from{transform:rotateY(0deg);}to{transform:rotateY(360deg);}}

.app-rotar{
	animation: 1s vuelta infinite ease-in-out; 
}
.panel{
	background: green;
	
}
.box-titulo{
	background: rgba(0, 0, 0, 0.226);
	border: none;
	padding: 1rem;
	width: 80rem;
	margin: 0px auto;
}
.app-panel-gray{background: rgba(78, 78, 78, 0.061)}
.body{
	background:-webkit-linear-gradient(to right, rgba(8, 34, 59, 0.78) 0%, rgba(6, 34, 85, 0.801) 1%, rgba(4, 69, 172, 0.671) 23%, rgba(16, 97, 228, 0.671) 49%, rgba(38, 113, 235, 0.671) 54%, rgba(1, 70, 180, 0.671) 82%, rgba(6, 34, 85, 0.801) 99%, rgba(8, 34, 59, 0.78) 100%);
	background:-o-linear-gradient(to right, rgba(8, 34, 59, 0.78) 0%, rgba(6, 34, 85, 0.801) 1%, rgba(4, 69, 172, 0.671) 23%, rgba(16, 97, 228, 0.671) 49%, rgba(38, 113, 235, 0.671) 54%, rgba(1, 70, 180, 0.671) 82%, rgba(6, 34, 85, 0.801) 99%, rgba(8, 34, 59, 0.78) 100%);
	background:linear-gradient(to right , rgba(8, 34, 59, 0.78) 0%, rgba(6, 34, 85, 0.801) 1%, rgba(4, 69, 172, 0.671) 23%, rgba(16, 97, 228, 0.671) 49%, rgba(38, 113, 235, 0.671) 54%, rgba(1, 70, 180, 0.671) 82%, rgba(6, 34, 85, 0.801) 99%, rgba(8, 34, 59, 0.78) 100%);
}
h2{
	font-family:"Shrikhand", cursive;
}
